.portfolio{
  display: grid;
  justify-content: center;
  margin-top: 5%;
}
.portfoliobilde{
  max-width: 100%;
  height: auto;
}
.indexbilde{
  display: none;
}
.prosjekter2{
  max-width: 70%;
  height: auto;
}
.ommeg2{
  max-width: 60%;
  height: auto;
}
.p2container{
  position: absolute;
  left: 20%;
  top: 60%;
}
.om2container{
  position: absolute;
  left: 50%;
  top: 60%;
}
@media screen and (min-width:900px){
  .portfolio{
    position: absolute;
    left: 12%;
    top: 10%;
}
.portfoliobilde{
    max-width: 80%;
    height: auto;
}
.indexbilde{
  display: block;
  max-width: 100%;
  height: auto;
}
.indexbildec{
  position: absolute;
  left: 45%;
  bottom: 1%;
  padding-bottom: 4.5%;
}
.prosjekter2{
  max-width: 80%;
  height: auto;
}
.ommeg2{
  max-width: 70%;
  height: auto;
}
.p2container{
  position: absolute;
  left: 20%;
  top: 55%;
}
.om2container{
  position: absolute;
  left: 20%;
  top: 70%;
}
}