/* body{
    background-color: #E4F1C8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

.portfolio{
    position: absolute;
    left: 15%;
    top: 25%;
}
.portfoliobilde{
    width: 80%;
    height: auto;
}

.indexnav{
    list-style: none;
    position: absolute;
    top:70%;
    left: 10%;
}
.indexbilde{
  width: 90%;
  height: auto;
}
.indexbildec{
  position: absolute;
  left: 45%;
  bottom: 1%;
  padding-bottom: 4.5%;
}
.prosjekter2{
  width: 30%;
  height: auto;
}
.ommeg2{
  width: 30%;
  height: auto;
}
.p2container{
  position: absolute;
  left: 10%;
  top: 55%;
}
.om2container{
  position: absolute;
  left: 10%;
  top: 70%;
}
.nav:link {
    text-decoration: none;
  }
  .nav:hover {
    text-decoration: none;
  }
  .nav:visited {
    text-decoration: none;
  }
  .nav:active {
    text-decoration: none;
  }