body{
    overflow-x:hidden;
}
.ommegcontainer{
    /* position: relative;
    left: 40%;
    margin-top:5%; */
}
.ommeg{
    width: 30%;
    height: auto;
}
.bildetekst{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 3fr;
    margin-top: 30px;
}
.tekst{
    padding:50px;
}
.bilde{
    width: 60%;
    height: auto;
}