body{
    overflow-x:hidden;
}
.bildetekst{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    margin-top: 30px;
}
.ommegcontainer{
    grid-row: span 1;
    grid-column: span 2;
}
.tekst{
    padding:50px;
    grid-row: span 1;
    grid-column: span 1;
    font-family: overskrift;
    font-size:1.5rem;
}
.bilde{
    width: 60%;
    height: auto;
    grid-row: span 1;
    grid-column: span 1;
}
.ommeg{
    width: 20%;
    height: auto;
}
