.tema1{
    font-family: overskrift;
    font-size: 1.5rem;
    position: absolute;
    left:30%;
    top:40%;
}
.tema2{
    font-family: overskrift;
    font-size: 1.5rem;
    position: absolute;
    left:30%;
    top:45%;
}
.tema3{
    font-family: overskrift;
    font-size: 1.5rem;
    position: absolute;
    left:30%;
    top:50%;
}
.tema4{
    font-family: overskrift;
    font-size: 1.5rem;
    position: absolute;
    left:30%;
    top:55%;
}

.bladercontainer1,.bladercontainer2,.bladercontainer3,.bladercontainer4{
    display: none;
}
.prosjektertxt{
max-width: 70%;
}
.prosjekter{
    position: absolute;
    left: 30%;
    top: 15%;
}
@media screen and (min-width:900px){
.bladercontainer1,.bladercontainer2,.bladercontainer3,.bladercontainer4{
    display: block;
}
.prosjekter{
    position: absolute;
    left: 3%;
    top: 15%;
}
.prosjektertxt{
    max-width: 80%;
    height: auto;
}
.bladercontainer1{
    position: absolute;
    left: 1%;
    bottom: 1%;
    padding-bottom: 4.5%;
}
.blader1{
    max-width: 80%;
    height: auto;
}
.bladercontainer2{
    position: absolute;
    left: 24%;
    bottom: 1%;
    padding-bottom: 4.5%;
}
.blader2{
    max-width: 60%;
    height: auto;
}
.bladercontainer3{
    position: absolute;
    left: 50%;
    bottom: 1%;
    padding-bottom: 4.5%;
}
.blader3{
    max-width: 75%;
    height: auto;
}
.bladercontainer4{
    position: absolute;
    left: 75%;
    bottom: 1%;
    padding-bottom: 4.5%;
}
.blader4{
    max-width: 80%;
    height: auto;
}
.tema1{
    font-family: overskrift;
    font-size: 1.5rem;
    position: absolute;
    top:50%;
    left:5%;
}
.tema2{
    font-family: overskrift;
    font-size: 1.5rem;
    position: absolute;
    top:43%;
    left:27%;
}
.tema3{
    font-family: overskrift;
    font-size: 1.5rem;
    position: absolute;
    top:35%;
    left:50%;
}
.tema4{
    font-family: overskrift;
    font-size: 1.5rem;
    position: absolute;
    top:30%;
    left: 78%;
}
}