.prosjekter{
    position: absolute;
    left: 10%;
    top: 12%;
}
.prosjektertxt{
    width: 80%;
    height: auto;
}
.bladercontainer1{
    position: absolute;
    left: 1%;
    bottom: 1%;
    padding-bottom: 4.5%;
}
.blader1{
    width: 80%;
    height: auto;
}
.bladercontainer2{
    position: absolute;
    left: 24%;
    bottom: 1%;
    padding-bottom: 4.5%;
}
.blader2{
    width: 60%;
    height: auto;
}
.bladercontainer3{
    position: absolute;
    left: 48%;
    bottom: 1%;
    padding-bottom: 4.5%;
}
.blader3{
    width: 90%;
    height: auto;
}
.bladercontainer4{
    position: absolute;
    left: 70%;
    bottom: 1%;
    padding-bottom: 4.5%;
}
.blader4{
    width: 80%;
    height: auto;
}
.tema1{
    position: absolute;
    top:40%;
    left:5%;
}
.tema2{
    position: absolute;
    top:35%;
    left:27%;
}
.tema3{
    position: absolute;
    top:28%;
    left:55%;
}
.tema4{
    position: absolute;
    top:25%;
    left:80%;
}