body{
    background-color: #E4F1C8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
  width: 100%;
    border-bottom: 2px solid #1B542E;
    border-width: 90%;
    margin: 0 auto;
}
main{
    flex: 1;
}
footer{
    bottom: 0;
    left: 0;
    border-top: 2px solid #1B542E;
    width: 100%;
    font-family: overskrift;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.headerul{
    list-style: none;
    display: flex;
    justify-content: end;  
}
.headertxt{
    padding-left: 2rem;
    font-family: overskrift;
    font-size: 1.5rem;
}
.logo{
  position: absolute;
  top: 2%;
  left: 3%;
}
.logobilde{
  width:30%;
  height: auto;
}
a:link {
    text-decoration: none;
    color: black;
  }
a:hover {
    text-decoration-line: underline;
    color: #1B542E;
  }
a:visited {
    text-decoration: none;
    color: black;
  }
a:active {
    text-decoration: none;
    color: black;
  }

  .headerul a {
    display: block;
    padding: 10px;
    color: #1B542E;
    text-decoration: none;
    transition: color 0.3s;
    text-align: end;
  }
  
  .burger {
    width: 30px;
    height: 20px;
    display: none;
  }
  
  .burger .strek {
    width: 100%;
    height: 2px;
    background-color: #333;
    margin-bottom: 5px;
    transition: 0.2s linear;
  }
  

 @font-face {
    font-family: overskrift;
    src: url(/fonts/josefinsans-variablefont_wght-webfont.woff2);
  }
@font-face {
    font-family: overskriftkursiv;
    src: url(/fonts/josefinsans-italic-variablefont_wght-webfont.woff2);
  }
@font-face {
    font-family: bread;
    src: url(/fonts/roboto-regular-webfont.woff2);
  }
  @media screen and (max-width: 800px) {
    header{
      border: none;
    }
    .logobilde{
      display: none;
    }
    .headerul {
      display: none;
    }
    .burger {
      display: block;
    }
    .burger.active .strek:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
      transition: 0.2s linear;
    }
  
    .burger.active .strek:nth-child(2) {
      opacity: 0;
      transition: 0.15s linear;
    }
  
    .burger.active .strek:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
      transition: 0.2s linear;
    }
  
    nav.active .headerul {
      display: block;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      z-index: 1;
    }
    }